/* Navbar
 */

 .main-navbar{
    margin-top: 0px;
    color: white;
    text-decoration: none;
    background-color: rgb(73, 15, 127);
 }
.navbartext{
    background-color: rgb(73, 15, 127);
    color: white;
    float: left !important; 
}

/* content  */
#content{
}

.img-col{
    padding-top: 15px;
}
#row1{
    padding: 0px;
}
.content-title{
    margin-top: 250px;
}

.content-title h1{
    color: rgb(1, 22, 68);
}
.btn{
    margin-top: 20px;
    color: white;
    background-color: rgb(73, 15, 127);
}




/* Checkout Page 
 */


 .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  #search-container {
    margin: 1em 0;
  }
  #search-container input {
    background-color: transparent;
    width: 40%;
    border-radius: 20px;
    border-bottom: 2px solid rgb(73, 15, 127);
    padding: 1em 0.3em;
  }
  #search-container input:focus {
    border-bottom-color: rgb(73, 15, 127);
  }
  #search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: rgb(73, 15, 127);
    color: #ffffff;
    border-radius: 15px;
    margin-top: 0.5em;
  }
  .button-value {
    border: 2px solid #6759ff;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;
  }
  .active {
    background-color: #6759ff;
    color: #ffffff;
  }
  #products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
  }
  .card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
  }
  .image-container {
    text-align: center;
  }
  img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 25px;
    height: 15em;
  }
  .container {
    padding-top: 1em;
    color: #110f29;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .container h5 {
    font-weight: 500;
  }

  .container button {
    width: auto;
    color: white;
    border-radius: 5px;
    background-color: #110f29;
  }
  .hide {
    display: none;
  }
  @media screen and (max-width: 720px) {
    /* img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
    .card {
      max-width: 10em;
      margin-top: 1em;
    } */
    /* #products {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    } */
  }
  

  #search-container button:hover{
    background-color: green;
  }

  .container button:hover{
    background-color: green;
  }




  /* Description Page */

.carousel-item active{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
}

#products{
    display: flex;
    flex-wrap: wrap;
}